<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/home-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <header>
        <%- include('../views/partials/header.ejs') %>
    </header>

    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>

    <section class="galeria-juguetes">

        <% data.map(e => { %>
            <article class="producto">
                <a href="/juguetes/<%= e.id %>">
                    <img src="/img/products/<%= e.imagenPrincipal %>" alt="banco">
                    <h3> <%= e.nombre %> </h3>
                </a>
                <p>$  <%= e.precio %> </p>
                
                <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>
            </article>
        <% }) %>
     

       
    </section>
    <section class="categorias">
        <article class="producto-categoria">
            <a href="/index-categorias">
                <h3>Juguetes de madera</h3>
                <img src="/img/products/valija-carpintero.png" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/index-categorias">
                <h3>Rompecabezas</h3>
                <img src="/img/products/rompecabezas-animales.jpg" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/index-categorias">
                <h3>Niños 2 a 4 años</h3>
                <img src="/img/products/4anios.jpg" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/index-categorias">
                <h3>Pizarras</h3>
                <img src="/img/products/pizarras.png" alt="banco">
            </a>
        </article>

        <div>
            <%- include('../views/partials/whatsappButton.ejs') %>
        </div>
   </section>

   <footer>
    <%-include('../views/partials/footer.ejs')%>
    </footer>

</body>


</html>