<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/home-styles.css">
    <link rel="stylesheet" href="/css/pruebahome-styless.css">
    <link rel="stylesheet" href="/css/porEdad.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
   
   
</head>

<body>
    

    <header>
        <%- include('../views/partials/header.ejs') %>
    </header>

    <section class="banner" id="home-banner">
        
    </section>   

    <section class="galeria-juguetes">

        <% allTheProducts.map(e => { %>
            <article class="producto">
                <a href="/juguetes/<%= e.id %>">
                    <img src="/img/products/<%= e.principal_img %>" alt="banco">
                    <h3> <%= e.name %> </h3>
                </a>
                <p>$  <%= e.price %> </p>
                
                <input value="<%=e.id%>" class='input-carrito' style="display:none;"><button type="submit" class="add-to-cart-button2"><i class="fa-solid fa-bag-shopping"></i>AGREGAR AL CARRITO</button></input>
                
            </article>
        <% }) %>
  
        <section class="home_categoria">
            <h2 class="home_header">Elegí por Categoría</h2>
    
            <div class="container categorias-de-home">
            <% categorias.map(e => { %>
            <article class="card">
              
                <a href="/categorias/<%= e.id %>"><img src="/img/<%= e.category_img %>" alt="imagen">
            <div class="category_name_link">
                <%= e.category_name %>
               
            </div></a>
           
            </article>
            <% }) %>
        </section>
       

        <section class="container">
            <h2 class="home_header">Elegí por Edad</h2>

            <div class="container">
                <article class="card">
                    
                    <a href="/edad/1"><img src="/img/<%= edadesRecomendadas[0].age_img %>" alt="banco">
                    <div class="age_links">
                    <%= edadesRecomendadas[0].recommended_age %>
                </div></a>
                </article>

                <article class="card">
                    <a href="/edad/2"><img src="/img/<%= edadesRecomendadas[1].age_img %>" alt="banco">
                    <div class="age_links">
                    <%= edadesRecomendadas[1].recommended_age %>
                </div></a>
                </article>

                <article class="card">
                    <a href="/edad/3"><img src="/img/<%= edadesRecomendadas[2].age_img %>" alt="banco">
                    <div class="age_links">
                    <%= edadesRecomendadas[2].recommended_age %>
                </div></a>
                </article>

                <article class="card">
                    <a href="/edad/4"><img src="/img/<%= edadesRecomendadas[3].age_img %>" alt="banco">
                    <div class="age_links">
                    <%= edadesRecomendadas[3].recommended_age %>
                </div></a>
                </article>  

            </div>
     

   </section> 
       

        <div>
            <%- include('../views/partials/whatsappButton.ejs') %>
        </div>

    </section>

    

    <footer>
    <%-include('../views/partials/footer.ejs')%>
    </footer>
    <script src="/js/agregarAlCarrito.js"></script>
</body>


</html>