<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/home-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
   
   
</head>

<body>
    

    <header>
        <%- include('../views/partials/header.ejs') %>
    </header>

    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>

    <section class="galeria-juguetes">

        <% allTheProducts.map(e => { %>
            <article class="producto">
                <a href="/juguetes/<%= e.id %>">
                    <img src="/img/products/<%= e.principal_img %>" alt="banco">
                    <h3> <%= e.name %> </h3>
                </a>
                <p>$  <%= e.price %> </p>
                
                <input value="<%=e.id%>" class='input-carrito' style="display:none;"><button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button></input>
                
            </article>
        <% }) %>
       

        <div>
            <%- include('../views/partials/whatsappButton.ejs') %>
        </div>

    </section>

    

    <footer>
    <%-include('../views/partials/footer.ejs')%>
    </footer>
    <script src="/js/agregarAlCarrito.js"></script>
</body>


</html>