<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/pruebahome-styless.css" title="cont">
        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
        <title>Rayuela</title>
    </head>

<body>
    <%- include('../views/partials/header.ejs') %>
    <%- include('../views/partials/whatsappButton.ejs') %>
    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>


    <section class="home_categoria">
        <h2 class="home_header">Elegí por Categoría</h2>

    <div class="container">
        <% categorias.map(e => { %>
        <article class="card">
          
                <img src="<%= e.img %>" alt="imagen">
        <div>
            <a href="/categorias/<%= e.categoria.replace(' ','').toLowerCase() %>"><%= e.categoria %></a>
           
        </div>
       
        </article>
        <% }) %>
    </section>
   <a href="/productos">Ver todos juguetes</a>
    <section class="home_categoria">

        <h2 class="home_header">Elegí por Edad</h2>

        <div class="container">
            <article class="card">
                
                <img src="/img/categoria-6meses.png" alt="banco">
            <div>
                <a href="#">De 6 meses a 1 año</a>
            </div>
            </article>

            <article class="card">
                <img src="/img/categoria-1año.png" alt="banco">
                <div>
                <a href="#">De 1 años a 3 años</a>
            </div>
            </article>

            <article class="card">
                <img src="/img/categoria-3años.png" alt="banco">
                <div>
                <a href="#">De 3 años a 6 años</a>
            </div>
            </article>

            <article class="card">
                <img src="/img/categoria-6años.png" alt="banco">
                <div>
                <a href="#">Mas de 6 años</a>
            </div>
            </article>
                
        </div>

   </section> 
   <%- include('../views/partials/seccionTbnMeGusta.ejs') %>
   
   <footer>

    <ul class="footer-list-container">
        <li class="quienes-somos">
           <a href="#" class="quienes-somos">Quienes Somos</a>
        </li>
        <li class="redes">
            <h4>Redes Sociales</h4>
            <ul>
                <li><a href="#"><i class="fa-brands fa-instagram"></a></i></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            </ul>
        </li>
        <li class="medios-de-pago">
            <h4>Medios de Pago</h4>
            <ul>
                <li><i class="fa-brands fa-cc-mastercard"></i></i></li>
                <li><i class="fa-brands fa-cc-visa"></i></li>
            </ul>
        </li>
        <li><a href='#' class="faq">F.A.Q</a></li>
        <li class="footer-list">
            <h4>Contactanos</h4>
            <ul class="contacto">
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>11 5451 8758</p>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>San Martin 890 - CABA</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p>contacto@rayuela.com.ar</p>
                </li>
                
            </ul>

        </li>
    </ul>
</footer>


</body>
</html>