<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/pruebahome-styless.css" title="cont">
        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
        <title>Rayuela</title>
    </head>

<body>
    <%- include('../views/partials/header.ejs') %>
    <%- include('../views/partials/whatsappButton.ejs') %>
    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>


    <section class="home_categoria">
        <h2 class="home_header">Elegí por Categoría</h2>

    <div class="container">
        <% categorias.map(e => { %>
        <article class="card">
          
                <img src="/img/<%= e.category_img %>" alt="imagen">
        <a href="/categorias/<%= e.id %>"><div class="category_name_link">
            <%= e.category_name %>
           
        </div></a>
       
        </article>
        <% }) %>
    </section>
    <div class="verTodosLosJuguetes">
        <a href="/productos" >Ver todos juguetes</a>
        <section class="home_categoria">
    </div>

   </section> 
   
   <footer>

    <%-include('../views/partials/footer.ejs')%>

</footer>


</body>
</html>