!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs')%>
    
    

<body>
   <%-include('../partials/header.ejs')%> 
   <main class="main__form">
    <form action="../edit/<%=jugueteEdit.id%>?_method=PUT" method="POST" class="create-form">
        <div class="control-formulario">
            <label for="SKU">SKU:</label>
            <input type="text" name="SKU" class="input-control" placeholder="<%= jugueteEdit.SKU %>">
        </div>
        <div class="control-formulario">
            <label for="nombre-producto">Nombre del producto:</label>
            <input type="text" name="nombre" class="input-control" value="<%= jugueteEdit.nombre %>">
        </div>
        <div class="control-formulario">
            <label for="precio">Precio:</label><br>
            <input type="text" name="precio" class="input-control" value="<%= jugueteEdit.precio %>">
        </div>

        <div class="control-formulario">
            <label for="en-oferta">Esta en oferta:</label>
            <input type="radio" name="enPromo" value="si">Si
            <input type="radio" name="enPromo" value="no">No
           </div> 
           <div class="control-formulario">   
            <label for="descuento">Descuento a aplicar</label>
            <input type="number" name="descuento" class="input-control" value="<%= jugueteEdit.descuento %>">
        </div>

        <div class="control-formulario">
            <label>Categorias</label>
            <select name="categoria" class="input-control" required>
                <option value="Sensoriales">Sensoriales</option>
                <option value="Instrumentos Musicales">Instrumentos Musicales</option>
                <option value="Movimientos">Movimientos</option>
                <option value="Rompecabezas">Rompecabezas</option>
                <option value="Pizarras">Pizarras</option>
            </select>
        </div>            
        
        <div class="control-formulario">
            <label for="imagen-producto">Seleccionar la imagen principal:</label>
            <input type="file" name="imagenPrincipal" class="control" accept=".jpg .png" required></>
        </div>
        <div class="control-formulario">
            <label for="imagen-producto">Seleccionar imagenes adicionales:</label>
            <input type="file" name="imagenesAdicionales" class="control" accept=".jpg,.png" multiple></>
        </div>
        <div class="control-formulario">
            <label for="descripcion">Descripcion del producto:</label>
            <textarea name="descripcion" class="textarea" value="<%= jugueteEdit.SKU %>'></textarea>
        </div>
        <div class="control-formulario">
            <label>Edad recomendada:</label><br>
            <label for="6 meses a 1 año">
                <input type="checkbox" name="edadRecomendada" value=1 >6 meses a 1 año
            </label><br>
            <label for="1 a 3 años"> <input type="checkbox" name="edadRecomendada" value=2 >1 a 3
                años
            </label><br>
            <label for="3 a 6 años"><input type="checkbox" name="edadRecomendada" value=3 >3 a 6
                años"
            </label><br>
            <label for="mas de 6 años"><input type="checkbox" name="edadRecomendad" value=4 >mas de 6 años
            </label><br>
        </div>
        <div class="control-formulario">
            <label for="materiales">Materiales:</label><br>
            <input type="text" name="materiales" class="input-control" required>
        </div>
        <div class="control-formulario">
            
            <label for="dimensiones">Dimensiones en cm:</label><br>
            <label><input type="text" name="altura" class="dimensiones" value="<%= jugueteEdit.ancho %>">Ancho</label><br>
           <label><input type="number" name="ancho" class="dimensiones" value="<%= jugueteEdit.alto %>">Altura</label><br>
            <label><input type="number" name="profundidad" class="dimensiones" value="<%= jugueteEdit.profundidad %>">Profundidad</label><br>
    
        

        </div>
        <div class="form-buttons">
       
        <button type="submit" class="form-button">GUARDAR</button>
    </div>
    </form>
  
</main>


</body>

<footer>
    <%include('../partials/footer.ejs')%>
</footer>

</html>