
<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/product-edit-styles.css" title="cont">
        
        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
        <title> Edicion Juguete - Rayuela</title>
        <link rel="icon" href="/img/logo-icono.png">
    </head>
    
    

<body>
   <main class="main__form">
    
   <a href="/product-panel"><button>Back to Product Panel</button></a>
    <form action="/edit/<%=jugueteEdit.id%>?_method=PUT" method="POST" class="create-form" novalidate>
        <div class="form-logo">
            <img id="logo" src="/img/logo5.png" alt="logo">
            <h1 class="h1-edit-form">Editando el Juguete id nro. <%=jugueteEdit.id%> </h1>
            
        </div>
      
        
        <div class="control-formulario">
            <label for="nombre-producto">Nombre del producto</label>
            <input type="text" name="name" class="input-control" id="input-name" value="<%= (locals.oldData && oldData.name)?oldData.name: jugueteEdit.name %>">
            <%if(locals.errors && errors.name){%>
                <p class="errors"><%= errors.name.msg %></p>
            <%}%>
        </div>
        <div class="control-formulario">
            <label for="precio">Precio</label><br>
            <input type="text" name="price" class="input-control" value="<%= (locals.oldData && oldData.price)?oldData.price: jugueteEdit.price %>">
            <%if(locals.errors && errors.price){%>
                <p class="errors"><%= errors.price.msg %></p>
            <%}%>
        </div>

        <div class="control-formulario">   
            <label for="descuento">Descuento a aplicar</label>
            <input type="number" name="discount" class="input-control" value="<%= (locals.oldData && oldData.discount)? oldData.discount : jugueteEdit.discount %>">
            <%if(locals.errors && errors.discount){%>
                <p class="errors"><%= errors.discount.msg %></p>
            <%}%>
        </div>

        <div class="control-formulario">
            <label for="materiales">Materiales</label><br>
            <input type="text" name="materials" class="input-control" value="<%= (locals.oldData && oldData.materials)? oldData.materials : jugueteEdit.materials%>" required>
            <%if(locals.errors && errors.materials){%>
                <p class="errors"><%= errors.materials.msg %></p>
            <%}%>
        </div>

        <div class="control-formulario">
            <label>Categorias</label>
            <select name="category_id" class="input-control" required>
                <option value="1" <%=(locals.oldData && oldData.category_id == 1) || (jugueteEdit.category_id == 1)? 'selected' : null %> >Sensoriales</option>
                <option value="2" <%=(locals.oldData && oldData.category_id == 2) || (jugueteEdit.category_id == 2)? 'selected' : null %> >Musicales</option>
                <option value="3" <%=(locals.oldData && oldData.category_id == 3) || (jugueteEdit.category_id == 3)? 'selected' : null %> >Ingenio</option>
                <option value="4" <%=(locals.oldData && oldData.category_id == 4) || (jugueteEdit.category_id == 4)? 'selected' : null %> >Movimientos</option>
            </select>
        </div>            
      
        <div class="control-formulario">
            <label>Edad recomendada</label>
            <select name="age_id" class="input-control" required>
                <option value="1" <%=(locals.oldData && oldData.age_id == 1) || (jugueteEdit.age_id == 1)? 'selected' : null %> >De 6 meses a 1 año</option>
                <option value="2" <%=(locals.oldData && oldData.age_id == 2) || (jugueteEdit.age_id == 2)? 'selected' : null %> >De 1 año a 3 años</option>
                <option value="3" <%=(locals.oldData && oldData.age_id == 3) || (jugueteEdit.age_id == 3)? 'selected' : null %> >De 3 a 6 años"</option>
                <option value="4" <%=(locals.oldData && oldData.age_id == 4) || (jugueteEdit.age_id == 4)? 'selected' : null %> >Mas de 6 años</option>
            </select>
        </div>  

        

        <div class="control-formulario">
            
            <label for="imagen-producto">Cambiar la imagen principal</label>
            <input type="file" name="principal_img" class="control" id="ppal-img-input" accept="image/jpg, image/png, image/jpeg, image/gif " value="<%jugueteEdit.principal_img%>"></>
            <%if(locals.errors && errors.principal_img){%>
                <p class="errors"><%= errors.principal_img.msg %></p>
            <%}%>
            <img src="/img/products/<%=jugueteEdit.principal_img%>" width="150px">
        </div>
        <div class="control-formulario">
     
            <label for="imagen-producto">Seleccionar imagenes adicionales</label>
            <input type="file" name="secondary_img" class="control" accept=".jpg,.png" multiple>
            <%if(locals.errors && errors.secondary_img){%>
                <p class="errors"><%= errors.secondary_img.msg %></p>
            <%}%> 


            <%if(jugueteEdit.secondary_images.image_2){%>
            <img class="secondary_img" src="/img/products/<%=jugueteEdit.secondary_images.image_2 %>" width="100px">
            <% }%>
            <%if(jugueteEdit.secondary_images.image_3){%>
            <img class="secondary_img" src="/img/products/<%=jugueteEdit.secondary_images.image_3 %>" width="100px">
            <% }%>
                   
            <% if(jugueteEdit.secondary_images.image_4){ %>
            <img class="secondary_img" src="/img/products/<%=jugueteEdit.secondary_images.image_4 %>" width="100px">
            <%}%>

        </div>

        <div class="control-formulario">
            
            <label class="" for="dimensiones">Dimensiones en cm:</label><br>
            <label><input type="number" name="width" class="medidas" value="<%= (locals.oldData && oldData.width)? oldData.width : jugueteEdit.width %>"> <br> Ancho</label><br>
            <%if(locals.errors && errors.width){%>
                <p class="errors"><%= errors.width.msg %></p>
            <%}%>
            <label><input type="number" name="height" class="medidas" value="<%= (locals.oldData && oldData.height)? oldData.height : jugueteEdit.height %>"> <br> Altura</label><br>
            <%if(locals.errors && errors.depth){%>
                <p class="errors"><%= errors.depth.msg %></p>
            <%}%> 
            <label><input type="number" name="depth" class="medidas" value="<%= (locals.oldData && oldData.depth)? oldData.depth: jugueteEdit.depth %>"> <br> Profundidad</label><br><br>
            <%if(locals.errors && errors.depth){%>
                <p class="errors"><%= errors.depth.msg %></p>
            <%}%> 
            <label>Peso: <br> <input type="number" name="weight" class="medidas" value="<%= (locals.oldData && oldData.weight)? oldData.weight : jugueteEdit.weight %>"> Kg <br> </label>
            <%if(locals.errors && errors.weight){%>
                <p class="errors"><%= errors.weight.msg %></p>
            <%}%> 
        </div>

        <div>
            <label for="stock" class="stock-label">Stock del Producto:</label>
            <input type="number" name="stock" class="stock-input2" value="<%= (locals.oldData && oldData.stock)? oldData.stock:  jugueteEdit.stock %>"> </label>
            <%if(locals.errors && errors.stock){%>
                <p class="errors"><%= errors.stock.msg %></p>
            <%}%>
        </div>

        <div class="control-formulario">
            <label for="descripcion">Descripcion del producto</label>
            <textarea name="description" class="textarea" value='<%=(locals.oldData && oldData.description)? oldData.description: jugueteEdit.description %>' placeholder="<%= jugueteEdit.description %>"></textarea>
            <%if(locals.errors && errors.description){%>
                <p class="errors"><%= errors.description.msg %></p>
            <%}%>
        </div>     

        <div class="erroresFront">
            <ul>
    
            </ul>
        </div>

        <div class="form-buttons">
       
        <button type="submit" class="form-button" id="form-button">GUARDAR</button>
    </div>
    </form>
    <script src="/js/editarProductoValidation.js"></script>
</main>

    
</body>

<footer>
    <%include('../partials/footer.ejs')%>
</footer>

</html>