<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/product-styles.css" title="cont">
        <link rel="stylesheet" href="/css/whatsapp.css">


        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
       
        <title><%=juguete.name%> - Rayuela</title>
        <link rel="icon" href="/img/logo-icono.png">
    </head>

<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section class="bread-crumbs">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/categorias/<%= juguete.category.id %>"> <%= juguete.category.category_name %> </a></li>
                <li><a href="/juguetes/<%= juguete.id %>"> <%= juguete.name %> </a></li>
            </ul>
        </section>


        <section class="product">
            <article class="product_infoPrincipal">
                <div class="product_infoPrincipal_images">
                    
                    <img class='imagen-principal' src="/img/products/<%= juguete.principal_img %>">

                    <%if(juguete.secondary_images.image_2){%>
                        <img class="imagenAdicional-2" src="/img/products/<%= juguete.secondary_images.image_2%>" alt="juguete2">
                    <% }%>

                    <%if(juguete.secondary_images.image_3){%>
                        <img class="imagenAdicional-3" src="/img/products/<%= juguete.secondary_images.image_3%>" alt="juguete3">
                    <% }%>
                   
                    <% if(juguete.secondary_images.image_4){ %>
                        <img class="imagenAdicional-4" src="/img/products/<%= juguete.secondary_images.image_4%>" alt="juguete3">
                    <%}%>
                    

                
             

                    <div class="dots">
                        <i id="seleccionado" class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                    </div>

                </div>
                <div class="product_infoPrincipal_productInfo">
                    <span class="productInfo_info">
                        <h1 class="product-name"> <%= juguete.name %> </h1>
                        <span class="reviews">
                            <h2>Reviews (<%=countReviews %>)</h2>
                            <div class="stars-outer">
                                <div class="stars-inner" style ="width:<%= ratingSum/countReviews %>%">
                                </div>
                            </div>  
                          
                        </span>

                       
                     

                     
                        <h2 class="precio">$ <%= juguete.price %> </h2>
                        <form class="add-to-cart" method="POST" action="/add-to-cart">
                            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping">
                                </i>AGREGAR AL CARRITO</button>
                        </form>
                    </span>

                    <span class="productInfo_envio">
                        <div class='shipping-icon'>
                            <i class="fa-solid fa-truck"></i>
                            <p> <strong>Envio </strong>gratis a partir de 5000$</p>
                        </div>

                        <form action="/" method="post">
                            <input type="text" name="cp" placeholder="Tu codigo postal">
                            <button type="submit" ">CALCULAR</button>                
                                </form>
                                <a href=" https://codigopostal.com.ar/">No se mi CP</a>
                </div>
                </span>
                </div>
            </article>
            <article class="product_masInfo">
                <h3>Descripcion</h3>
                <p> <%= juguete.description %>
                </p>
            </article>
            <article class="product_masInfo">
                <h3>Información Adicional </h3>
                <table class="info-table">
                    <tr>
                        <td>Edad: </td>
                        <td> <%= juguete.ages.recommended_age %> </td>
                    </tr>
                    <tr>
                        <td>Materiales</td>
                        <td> <%= juguete.materials %> </td>
                    </tr>
                    <tr>
                        <td>Dimensiones</td>
                        <td><%= juguete.width %>cm x <%= juguete.height %>cm x <%= juguete.depth %>cm </td>
                    </tr>
                </table>
            </article>
        </section>
        <h2 id="h-tambien-te-puede-gustar">Tambien te puede gustar</h2>
    <section class="tambien-te-puede-gustar">
        <% cuatro.map( e => {%>
            <article class="card">
                <a href="../juguetes/<%=e.id%>">
                    <img src="/img/products/<%=e.principal_img%>" alt="juguete1">
                <h3><%= e.name %></h3>
                <p class="precio-card"><%= e.price %></p>
                <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                    CARRITO</button>
                </a>
            </article>
            <%})%>
      
        

    </section>
    <section class="review-list">
      
        <%if(reviewList){%>
            <h2 class="h2-review-section">Reviews de Clientes</h2>
            
                <div class='review-user-info'>
                <img src="" class="review-avatar">
                <p>Usuario Nombre</p><br>
            </div>
            <%reviewList.map(e => {%> 
                <div class="stars-outer">
                    <div class="stars-inner" style ="width:<%= e.rating %>%">
                    </div>
                </div>  
                <h4><%= e.review_title %></h4>
                <p><%=e.review %></p>
                <hr>
                         <%}) %>
        <%}%>

    </section>
    </main>

       
    </body>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
    </html>


