<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>


    <body>

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="/css/product-styles.css" title="cont">
            <link rel="stylesheet" href="/css/whatsapp.css">


            <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
            <title>Rayuela</title>
        </head>
         <%- include('../partials/header.ejs') %>

        <div class="space-div"></div>

        <section class="product-display">
            <% data.map(e=> { %>
                <article class="card">
                    <a href="/juguetes/<%= e.id %>">
                        <img src="/img/products/<%= e.principal_img %>" alt="juguete1">
                        <h3>
                            <%= e.name %>
                        </h3>
                        <p class="precio-card">
                            <%=e.price%>$
                        </p>
                        <button type="submit" class="add-to-cart-button2"><i class="fa-solid fa-bag-shopping"></i>AGREGAR AL CARRITO</button>
                    </a>
                </article>

                <% }) %>
        </section>
        <div>
            <a href="https://api.whatsapp.com/send?phone=1155996575&text=Hola. como te podemos ayudar?%21%20." class="whatsapp" target="_blank">
                <img src="/img/icons8-whatsapp-48.png" alt="">
            </a>
        </div>  
    </body>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>