<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/product-styles.css" title="cont">
        <link rel="stylesheet" href="/css/whatsapp.css">


        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
       
        <title><%=juguete.nombre%> - Rayuela</title>
        <link rel="icon" href="/img/logo-icono.png">
    </head>

<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section class="bread-crumbs">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/categorias/<%= juguete.categoria.replace( ' ', '').toLowerCase() %>"> <%= juguete.categoria %> </a></li>
                <li><a href="productDetail.html"> <%= juguete.nombre %> </a></li>
            </ul>
        </section>


        <section class="product">
            <article class="product_infoPrincipal">
                <div class="product_infoPrincipal_images">
                    
                    <img class='imagen-principal' src="/img/products/<%= juguete.imagenPrincipal %>">
                    
            
                    
            <%if(Array.isArray(juguete.imagenesAdicionales) ){%>   
                        <% for(let i=0; i < juguete.imagenesAdicionales.length; i++){%> 
                            <a href="#"><img class='imagenAdicional-<%=i+1 %>' src="/img/products/<%=juguete.imagenesAdicionales[i]%>"></a> 
                                <%}}else if(!Array.isArray(juguete.imagenesAdicionales) && juguete.imagenesAdicionales === ""){%> 
                                    <a href="#" style="display:none"><img class='imagenAdicional-1' src="/img/products/<%=juguete.imagenesAdicionales%>"></a>
                                    <%}else{%>
                                    <a href="#"><img class='imagenAdicional-1' src="/img/products/<%=juguete.imagenesAdicionales%>"></a>
                                        <%}%>       

                    <div class="dots">
                        <i id="seleccionado" class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-circle"></i>
                    </div>

                </div>
                <div class="product_infoPrincipal_productInfo">
                    <span class="productInfo_info">
                        <h1 class="product-name"> <%= juguete.nombre %> </h1>
                        <span class="reviews">
                        
                            <h2>Reviews (<%=juguete.reviews.length%>)</h2>
                      
                            <div class="stars-outer">
                                <div class="stars-inner" style ="width:<%=juguete.rating %>%">

                                </div>
                            </div>
                           
                          
                        </span>
                     

                     
                        <h2 class="precio">$ <%= juguete.precio %> </h2>
                        <form class="add-to-cart" method="POST" action="/add-to-cart">
                            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping">
                                </i>AGREGAR AL CARRITO</button>
                        </form>
                    </span>

                    <span class="productInfo_envio">
                        <div class='shipping-icon'>
                            <i class="fa-solid fa-truck"></i>
                            <p> <strong>Envio </strong>gratis a partir de 5000$</p>
                        </div>

                        <form action="/" method="post">
                            <input type="text" name="cp" placeholder="Tu codigo postal">
                            <button type="submit" ">CALCULAR</button>                
                                </form>
                                <a href=" https://codigopostal.com.ar/">No se mi CP</a>
                </div>
                </span>
                </div>
            </article>
            <article class="product_masInfo">
                <h3>Descripcion</h3>
                <p> <%= juguete.descripcion %>
                </p>
            </article>
            <article class="product_masInfo">
                <h3>Información Adicional </h3>
                <table class="info-table">
                    <tr>
                        <td>Edad: </td>
                        <td> <%= juguete.edadRecomendada %> </td>
                    </tr>
                    <tr>
                        <td>Materiales</td>
                        <td> <%= juguete.materiales %> </td>
                    </tr>
                    <tr>
                        <td>Dimensiones</td>
                        <td><%= juguete.ancho %>cm x <%= juguete.altura %>cm x <%= juguete.profundidad %>cm </td>
                    </tr>
                </table>
            </article>
        </section>
        <h2 id="h-tambien-te-puede-gustar">Tambien te puede gustar</h2>
    <section class="tambien-te-puede-gustar">
        
        <% cuatro.map( e => {%> 
        <article class="card">
            <a href="../juguetes/<%=e.id%>">
                <img src="/img/products/<%=e.imagenPrincipal%>" alt="juguete1">
            <h3><%= e.nombre %></h3>
            <p class="precio-card"><%= e.precio %></p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
            </a>
        </article>
        <%})%>
        

    </section>

    </main>

       
    </body>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
    </html>
    
  