<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
    <body>

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="/css/product-styles.css" title="cont">
            <link rel="stylesheet" href="/css/whatsapp.css">


            <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
            <title>Listado de Juguetes</title>
        </head>
         <%- include('../partials/header.ejs') %>
        <section class="product-display">
            <% data.map(e=> { %>
                <article class="card">
                    <a href="/juguetes/<%= e.id %>">
                        <img src="/img/<%= e.imagenPrincipal %>" alt="juguete1">
                        <h3>
                            <%= e.nombre %>
                        </h3>
                        <p class="precio-card">
                            <%=e.precio%>$
                        </p>
                      <a href="../edit/<%=e.id%>">  <button type="submit" class="add-to-cart-button">EDIT</button></a>
                            
                      <form action="../delete?_method=DELETE" method="POST">
                            <button type="submit" class="add-to-cart-button">DELETE</button>
                      </form>
                    
                </article>

                <% }) %>
        </section>
          
    </body>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>