<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/product-detail-styles.css" title="cont">
        <link rel="stylesheet" href="/css/whatsapp.css">


        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
       
        <title><%=juguete.name%> - Rayuela</title>
        <link rel="icon" href="/img/logo-icono.png">
    </head>

<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section class="bread-crumbs">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/categorias/<%= juguete.category.id %>"> <%= juguete.category.category_name %> </a></li>
                <li><a href="/juguetes/<%= juguete.id %>"> <%= juguete.name %> </a></li>
            </ul>
        </section>


        <section class="product">
            <article class="product_infoPrincipal">

                <div class="product_infoPrincipal_images">
                                

                        <div class="slide img-principal">
                            <img class='imagen-principal' src="/img/products/<%= juguete.principal_img %>">
                            
                            <%if(juguete.secondary_images.image_2){%>
                                <img class="esconderImagen" id="imagen-principal-2" src="/img/products/<%= juguete.secondary_images.image_2%>" alt="juguete2">
                            <% }%>

                            <%if(juguete.secondary_images.image_3){%>
                                <img  class="esconderImagen" id="imagen-principal-3" src="/img/products/<%= juguete.secondary_images.image_3%>" alt="juguete3">
                            <% }%>

                            <% if(juguete.secondary_images.image_4){ %>
                                <img  class="esconderImagen"  id="imagen-principal-4" src="/img/products/<%= juguete.secondary_images.image_4%>" alt="juguete3">
                            <%}%>
                        </div>
                        <div class="slides">
                            <%if(juguete.secondary_images.image_2){%>
                                <img class="imagenAdicional-2" src="/img/products/<%= juguete.secondary_images.image_2%>" alt="juguete2">
                            <% }%>
                    
                            <%if(juguete.secondary_images.image_3){%>
                                <img class="imagenAdicional-3" src="/img/products/<%= juguete.secondary_images.image_3%>" alt="juguete3">
                            <% }%>
                    
                            <% if(juguete.secondary_images.image_4){ %>
                                <img class="imagenAdicional-4" src="/img/products/<%= juguete.secondary_images.image_4%>" alt="juguete3">
                            <%}%>
            
                           <img class="imagenAdicional-5" src="/img/products/<%= juguete.principal_img %>" alt="juguete3">   
                        </div>
                </div>
<!--
                <div class="dots">
                    <input checked type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                 </div>
                -->

                <div class="product_infoPrincipal_productInfo">
                    <span class="productInfo_info">
                        <h1 class="product-name"> <%= juguete.name %> </h1>
                        
                        <span class="reviews">
                            <h2>Reviews (<%=countReviews %>)</h2>
                            <div class="stars-outer">
                                <div class="stars-inner" style ="width:<%= ratingSum/countReviews %>%">
                                </div>
                            </div>  
                          
                        </span>

                       
                     

                     
                        <h2 class="precio">$ <%= juguete.price %> </h2>
                        <form class="add-to-cart" method="POST" action="/add-to-cart">
                            <button type="submit" class="add-to-cart-button2"><i class="fa-solid fa-bag-shopping">
                                </i>AGREGAR AL CARRITO</button>
                        </form>
                    </span>

                   
                </div>
            </article>
            <article class="product_masInfo">
                <h3>Descripción</h3>
                <p> <%= juguete.description %>
                </p>
            </article>
            <article class="product_masInfo">
                <h3>Información Adicional </h3>
                <table class="info-table">
                    <tr>
                        <td>Edad: </td>
                        <td> <%= juguete.ages.recommended_age %> </td>
                    </tr>
                    <tr>
                        <td>Materiales</td>
                        <td> <%= juguete.materials %> </td>
                    </tr>
                    <tr>
                        <td>Dimensiones</td>
                        <td><%= juguete.width %>cm x <%= juguete.height %>cm x <%= juguete.depth %>cm </td>
                    </tr>
                </table>
            </article>
        </section>
        <h2 id="h-tambien-te-puede-gustar">Tambien te puede gustar</h2>
    <section class="tambien-te-puede-gustar">
        <% cuatro.map( e => {%>
            <article class="card">
                <a href="../juguetes/<%=e.id%>">
                    <img src="/img/products/<%=e.principal_img%>" alt="juguete1">
                <h3><%= e.name %></h3>
                <p class="precio-card"><%= e.price %></p>
                <button type="submit" class="add-to-cart-button2"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                    CARRITO</button>
                </a>
            </article>
            <%})%>
      
        

    </section>
    <section class="review-list">
      
        <%if(reviewList.length>0){%>
            
            <h2 class="h2-review-section">Reviews de Clientes</h2>
          
            
                <%reviewList.map(e => {%> 
                 
                    <article class="product_masInfo">
                            <div class='review-user-info'>
                                <img src="/img/users/<%=e.users.user_img %>" class="review-avatar" width="50">
                                <p>  <%=e.users.user_first_name + " " + e.users.user_last_name%></p><br>
                            </div>          
                <div class="stars-outer">
                    <div class="stars-inner" style ="width:<%= e.rating %>%">
                    </div>
                </div>  
                <h3 style="font-size: 16px;"><%= e.review_title %></h3>
                <p><%=e.review %></p>
                
            </article>  
                         <%}) %>       
                                 
        <%}%>

    </section>
    </main>
    <div>
        <%- include('../partials/whatsappButton.ejs') %>
    </div>
       
    </body>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
    <script src="/js/image-display.js"></script>
    </html>


