<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/order-detail-styles.css">
</head>
<body>
    <h1 class="order_detail_title">Order Detail</h1>
        <div class="card_container">
            <div class="order_card">
                <h2 class="order_title">Orden de Compra Nro: <%= orderDetail.id %></h3>
                    <h3>Usuario:   <%= orderDetail.users.user_first_name %> <%= orderDetail.users.user_last_name %> (ID: <%= orderDetail.user_id %> ) </h3>
                    <a href="/user/<%= orderDetail.users.id %>"> <img src="/img/users/<%= orderDetail.users.user_img %>" class="order_items_img" > </a>  
                    <h3>Monto de la Compra: $ <%= orderDetail.order_total_amt %></h3>
                    <h3>Método de Pago: <%= orderDetail.payment_method.pay_method_type %> (ID: <%=orderDetail.pay_method_id %>)</h3>
                    <h3>Fecha de Compra: <%= orderDetail.order_date %></h3>
                    <h3>Sataus de la Orden: <%= orderDetail.order_status %></h3>
                    <h3>Dirección de Entrega: <%= orderDetail.order_address %></h3>

            </div>
                    


                <div class="order_card5_items">
                    <h3 class="order_card1_items">Detalle de Compra:</h2>

                        <div class="order_card3_items">
                                <% orderItems.map(element => { %>
                                        <div class="order_card_items">
                                            <h2 class="order_detail_items"><%= element.products.name %></h3>
                                            <h4 class="order_detail_items"> <%= element.products.description %></h3>
                                            <h4 class="order_detail_items">ID: <%= element.products.id %></h3>
                                            <h4 class="order_detail_items">Cantidad Vendida: <%= element.quantity %></h3>
                                            <h4 class="order_detail_items">Order-Detail Nro: <%= element.id %></h3>
                                            <h4 class="order_detail_items">Precio: $ <%= element.products.price %></h3>
                                            

                                            <a href="/juguetes/<%= element.products.id %>">  <img src="/img/products/<%= element.products.principal_img %>" class="order_items_img" > </a>
                                            <h3 class="order_detail_items">Stock del Producto: <%= element.products.stock %></h3><br>
                                        </div>
                                <% }) %>
                        </div>
                </div>
        </div>
               
                
                
</body>
</html>