<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/order-list-styles.css">
</head>
<body>
    <a href="/control-panel"><button class="admin-button">Volver a Admin Control Panel</button></a>
    <h1 class="page_title">Orders List</h1>

    <% allTheOrders.map(e => { %>
        <div class="order_card">



            <a class="card_title"href="/order-detail/<%= e.id %>"><h4 class="card_title">Orden de Compra Nro: <%= e.id %></h4></a>  <br>

                <div class="order_card_data">

                    <div class="order_card_data_box2">
                        <h4 class="user_title">Usuario:  <%= e.users.user_first_name %> <%= e.users.user_last_name %> (ID:<%= e.user_id %>)</h4>
                        <img src="/img/users/<%= e.users.user_img %>" class="order_detail_img">
                        <h4>Monto de la compra: $ <%= e.order_total_amt %></h4>
                        <h4>Método de Pago: <%= e.payment_method.pay_method_type %> (ID: <%= e.pay_method_id %>)</h4>
                    </div>
                    <div class="order_card_data-box">
                        <h4>Fecha: <%= e.order_date %></h4>
                        <h4>Status de la Orden: <%= e.order_status %></h4>
                        <h4>Dirección de Entrega: <%= e.order_address %></h4>
                    </div><br>

                    <a class="order-card-link" href="/order-detail/<%= e.id %>" class="data-box-links"> <div class="order_detail_data_box">
                        
                       <div class="card-space">
                        <h4 class="order_detail">Detalle de Compra:</h4><br>
                        <% allTheOrderDetails.map (elem => { %>
                            
                                <% if (elem.fk_order_id == e.id) { %>
                                    <div class="detalle_compra">
                                        
                                        <h4 class="card_items"><%= elem.products.name %></h4>
                                        <h4 class="card_items">ID: <%= elem.products.id %></h4> 
                                        <h4 class="card_items">Cantidad Vendida: <%= elem.quantity %></h4>
                                        <h4 class="card_items">Order-Detail Nro: <%= elem.id %></h4>
                                        <img src="/img/products/<%= elem.products.principal_img %>" class="order_detail_img">
                                        <h4 class="card_items">Stock del Producto: <%= elem.products.stock %></h4>
                                    </div>
                                <% } %>
                            
                        <% }) %>
                       </div> 
                        
                    </div> </a> 

                </div><br>
        </div>

    <% }) %>
</body>
</html>