<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/users-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <a href="/control-panel"><button class="admin-button">Volver a Admin Control Panel</button></a>

   

    <section class="banner" id="home-banner">
        
    </section>

    <h2 class="user-list-tittle">Lista de Usuarios</h2>
    <section class="lista-de-usuarios">
        
        
        <% allUsers.map(e => { %>
            <article class="producto">
                
                    <a href="/user/<%= e.id %>">
                    <% if (e.user_img == "") { %>
                    <img src="/img/users/undefined-user1280.png" alt="fotoPerfil">
                    <% } else { %>
                    <img src="/img/users/<%= e.user_img %>" alt="fotoPerfil">
                    <% } %>
                    
                    <h3> <%= e.user_first_name %>  <%= e.user_last_name %></h3>
                </a>
                <p>  <%= e.user_mail %> </p>

                <% if (e.users_type.user_type_name) { %>
                    <p>  <%= e.users_type.user_type_name %> </p>
                <% } %>
                
                
                
            </article>
        <% }) %>
    </section>

  
</body>