<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/login-styles.css">
        
    </head>
    <body>

        <header>
            <%- include('../partials/header.ejs')%>
        </header>

        <main class="login">
            
            <h3>Ingresar</h3><br>

            <div class="errores">
                <ul>                   
                </ul>
            </div>
            <% if (locals.errors && errors.email) { %>
                <p class="msg-error"><%= errors.email.msg %></p>
            <% } %> 
            <% if (locals.errors && errors.password) { %>
                <p class="msg-error"><%= errors.password.msg %></p>
            <% } %>

            <form  action="/login" method="POST" class="formLogin" id="formLogin">
                <input class="emailLogin" type="email" name="email" placeholder="E-mail" 
                value="<%= locals.oldData ? oldData.email : null %>" required>
               
                <input class="passwordLogin" type="password" name="password" placeholder="Contraseña" required>
               
                <label class="">
                    <input type="checkbox" class="" name="remember">Recordar mi usuario
                </label>
                <br><br>
                <button type="submit" class="botonLogin" id="botonLogin">Ingresar</button>

            </form>

            <div class="links">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <br>
                <a href="/registro">Registrarte</a><br>
            </div>
            <div>
                <%- include('../partials/whatsappButton.ejs') %>
            </div>
            
        
        </main>
        <footer>
            <%-include('../partials/footer.ejs') %>
        </footer>

        <script src="js/loginJsFront.js"></script>
    </body>
</html>