<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>

      <!-- iconos -->
      <script src="https://kit.fontawesome.com/4c9feabc71.js"
      crossorigin="anonymous"></script>
  
      <!-- Link con CSS -->
      <link rel="stylesheet" href="/css/register-styles.css">
  
      <!-- Fuente Roboto -->
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
          
      <!-- Fuente Monserrat -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Roboto&display=swap" rel="stylesheet"> 
          <style>
          @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
          </style>
  
      <!-- Viewport -->
      <meta name="viewport" content=
      "width=device-width, initial-scale=1.0"> 
          
</head>

<body>

    <header>
        <%- include('../partials/header.ejs')%>
    </header>

    <main class="register">
        <h3>Registrate</h3>
            <br>
        <form action="/registro" method="POST" enctype="multipart/form-data" >
            
            <input type="text" name="nombre" placeholder="Nombre"
            value="<%= locals.oldData ? oldData.nombre : null %>">
            <% if (locals.errors && errors.nombre) { %>
                <p class="msg-error"><%= errors.nombre.msg %></p>
            <% } %>
            <input type="text" name="apellido" placeholder="Apellido"
            value="<%= locals.oldData ? oldData.apellido : null %>">
            <% if (locals.errors && errors.apellido) { %>
                <p class="msg-error"><%= errors.apellido.msg %></p>
            <% } %>
            <input type="text" name="email" placeholder="E-mail"
            value="<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && errors.email) { %>
                <p class="msg-error"><%= errors.email.msg %></p>
            <% } %>
            <input type="text" name="telefono" placeholder="Telefono"
            value="<%= locals.oldData ? oldData.telefono : null %>">
            <% if (locals.errors && errors.telefono) { %>
                <p class="msg-error"><%= errors.telefono.msg %></p>
            <% } %>
            <input type="text" name="domicilio" placeholder="Domicilio"
            value="<%= locals.oldData ? oldData.domicilio : null %>">
            <% if (locals.errors && errors.domicilio) { %>
                <p class="msg-error"><%= errors.domicilio.msg %></p>
            <% } %>
            <input type="password" name="password" placeholder="Contraseña">
            <% if (locals.errors && errors.password) { %>
                <p class="msg-error"><%= errors.password.msg %></p>
            <% } %>
            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña">
            <% if (locals.errors && errors.confirmPassword) { %>
                <p class="msg-error"><%= errors.confirmPassword.msg %></p>
            <% } %>
            
            <!-- Foto de Usuario -->
            <div class="register-look-for-img">
                <h4>Foto de perfil (opcional)</h4>
                <input type="file" name="fotoPerfil">
                <% if (locals.errors && errors.fotoPerfil) { %>
                <p class="msg-error"><%= errors.fotoPerfil.msg %></p>
                <% } %>
            </div>
        
            <br>
            
            <!-- Terminos y Condiciones -->
            <div>
                <div class="register-termYCond"><a href="#">Terminos y Condiciones</a></div>
                <div class="register-termYCond">¿Ya tienes cuenta?</div>
                <div class="register-termYCond"><a href="/login">Ingresá</a></div>
            </div>
            <br>
             <!-- Botones -->
            <div id="buttonRegister">
                 <button id=buttonR type="reset" value="Borrar" >Borrar</button>
                 <button id=buttonR type="submit" value="registrarse">Registrarse</button>
    
            </div>  
        </form>

        <div>
            <%- include('../partials/whatsappButton.ejs') %>
        </div>
        <footer>
            <%-include('../partials/footer.ejs') %>
        </footer>

    </main> 
       
</body>

</html>