<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/users-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <header>
        <%- include('../../views/partials/header.ejs') %>
    </header>

    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>

    <h2 class="user-list-tittle">Detalle de Usuario</h2>
    <section class="lista-de-usuarios">
    
        
            <article class="producto">
                    <% if (userDetail.user_img == "" || userDetail.user_img == null ) { %>
                    <img src="/img/users/undefined-user1280.png" alt="banco">
                    <% } else { %> 
                    <img src="/img/users/<%= userDetail.user_img %>" alt="banco">
                    <% } %>
                    
                    <h3> <%= userDetail.user_first_name %>  <%= userDetail.user_last_name %></h3>
                
                <p>  <%= userDetail.user_mail %> </p>
                
                <div class="button-box">
                    <a href="/edicion-usuario/<%=userDetail.id%>"><button type="submit" class="add-to-cart-button">EDITAR USUARIO</button></a>   
                    <form action="/delete/<%=userDetail.id%>?_method=DELETE" method="POST">
                        <button type="submit" class="add-to-cart-button">BORRAR USUARIO</i></button>
                    </form>
                       
                    <% if (orders.length >= 1) { %>
                        <form action="/mis-compras/<%= userDetail.id %>" method="GET" class="button-box">
                            <button type="submit">Mis Ordenes de Compra</button>
                        </form>
                    <% } %>
                  
                </div>
            </article>
        
    </section>

    <footer>
        <%-include('../../views/partials/footer.ejs')%>
    </footer>
    
</body>